.admin-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .admin-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .admin-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .admin-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .admin-container button:hover {
    background-color: #0056b3;
  }
  
  .dashboard-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .dashboard-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .dashboard-container p {
    text-align: center;
  }
  .admin-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .menu-image {
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
  }
  
  .menu-details h3 {
    margin: 0 0 10px;
  }
  
  .menu-details p {
    margin: 5px 0;
    color: #555;
  }
  
  form input,
  form button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  form button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  